@tailwind base;
@tailwind components;
@tailwind utilities;

/* Makes a red border around a component for debugging */
.debug {
	@apply border border-red-500;
}

a,
button,
.focusable {
	@apply focus-visible:outline-blue-500 focus:outline-none rounded-sm;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* Change selection color */
::selection {
	@apply bg-blue-200;
}
::-moz-selection {
	@apply bg-blue-200;
}
